:root{
    --main-bg: #2f4f30;
}

html, body{
    margin: 0;
    background-color: var(--main-bg);
    color: white;
}

.main-bg{
    background-color: var(--main-bg);    
}

.card{
    left: 100px;
    margin-left: -75px;
    position: relative;
    width: 150px;
}